Screen {
    background: $primary 100%;
}

InputStripe {
    height: 3;
    border: $primary-lighten-3 100%;
}

Input {
    width: 75%;
}

#in-val {
    border: none;
}

#body {
    height: 1fr;
}

#message {
    height: 1;
}

Horizontal {
    height: auto;
}

Vertical {
    height: auto;
}

VerticalScroll {
    background: $primary 100%;
    border: yellow 100%;
}

Button {
    height: 1;
    border: none;
}

.key-col {
    width: 1fr;
    min-height: 1;
    margin-right: 1;
}

.key {
    background: $secondary 100%;
    height: auto;
}

.value-col {
    width: 6fr;
    min-height: 1;
}

.value {
    background: $secondary 100%;
    height: auto;
}

#buttons {
    width: 18;
}

.bg-one {
    background: white 10%;
}

.bg-two {
    background: white 5%;
}

SaveCancel Horizontal Button {
    height: 3;
}