Screen, ModalScreen {
    align: center middle;
}

#input-row {
    align: left bottom;
    height: 1fr;
    border: green;
}

#input-key {
    width: 1fr;
    border: heavy blue;
}

#input-value {
    width: 4fr;
    border: heavy blue;
}

#label-and-buttons {
    border: heavy yellow;
    align: center top;
    height: 4;
}

#dialog {
    background: blue 75%;
    border: heavy white;
    height: 80%;
    width: 80%;
}

#question-box {
    height: auto;
}

#in-val {
    width: 1fr;
    border: yellow 100%;
}

#add-person {
    width: 5;
    min-width: 1;
    height: 3;
}

#content {
    width: 8fr;
}

#body {
    border: yellow 100%;
}

#buttons {
    width: 2fr;
}

#message {
    height: 1;
    border: none;
}

.key {
    width: 2fr;
    height: auto;
    margin-right: 1;
}

.value {
    width: 8fr;
    height: auto;
}

.result-row {
    height: auto;
    border: none;
}

.bg-yellow {
    background: white 15%;
}

.bg-red {
    background: white 10%;
}

Button {
    width: auto;
    height: 1;
    border: none;
    text-align: left;
}

#add-person {
    border: red 100%;
}

VerticalScroll {
    border: green 100%;
}
