#question-box {
    height: 3;
}

#content {
    width: 8fr;
}

#body {
    border: yellow 100%;
}

#buttons {
    width: 2fr;
}

#message {
    height: 1;
    border: none;
}

.result-row {
    height: auto;
}

.key {
    width: 2fr;
    height: auto;
    margin-right: 1;
}

.value {
    width: 8fr;
    height: auto;
}

.result-row {
    border: none;
}

.bg-yellow {
    background: blue 50%;
}

.bg-red {
    background: blue 0%;
}

Button {
    width: auto;
    height: 1;
    min-width: 7;
    border: none;
    text-align: left;
}

Horizontal {
    background: blue 50%;
    align: left top;
}

VerticalScroll {
    border: green 100%;
}
